.pcard-container{
    border: 1px solid #979797;
    border-radius: 26.6166px;
    width: 20rem;
    overflow: hidden;
    margin: 2rem 1rem;
}

.apptImg{
    overflow: hidden;
    cursor: pointer;
}

.apptImg img:hover{
    transform: scale(1.5);
}

.pcard-content{
    background: #FFFFFF;
}

.pcard-content h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    width: 17rem;
    margin-bottom: 1rem;
}

.pcard-content1{
    padding: 0.75rem 1rem;
}

.pcard-content1 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #818181;
}

#pcard-price{
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    color: #F4511E;
}

.pcard-content2, .pcard-content2 div{
    display: flex;
    align-items: center;
}

.pcard-content2{
    border-top: 1px solid #E4E4E4;
}

.pcard-content2 div{
    padding: 1rem;
    width: 33%;
    justify-content: center;
}

.pcard-content2 img{
    padding: 0 0.35rem;
}

.pcard-content2 p{
    font-size: 0.85rem;

}
#showerdiv{
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}

@media screen and (max-width: 768px) {
    .pcard-container{
        width: 16rem;
    }

    .apptImg {
        height: 14rem;
    }

    .pcard-content h5{
        width: auto;
    }
}


@media screen and (max-width: 675px) {
    .pcard-container{
        margin: 1rem ;
    }

}

@media screen and (max-width: 450px) {
    .pcard-content h5, #pcard-price{
        font-size: 14px;
    }

    .pcard-content h5{
        margin-bottom: 0.5rem;
    }

    .pcard-content p{
        font-size: 10px;
    }
}

@media screen and (max-width: 375px) {
    .pcard-content h5{
        line-height: 18px;
    }
}