.pCard-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.paginateContainer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    color: #F4511E;
    width: 19rem;
    margin: 2rem auto;
}

.paginateContainer li{
    padding: 1rem;
    list-style: none;
    border-left: 0.25px solid #BDBDBD;
    border-right: 0.25px solid #BDBDBD;
    cursor: pointer;
}

.paginateContainer li:hover{
    background-color: white;
}

.paginateContainer .next{
    border-right: none;
}

.paginateContainer .previous{
    border-left: none;
}

.paginateContainer .selected{
    color: white;
    background-color: #F4511E;
    border-color: #F4511E ;
}

.paginateContainer .selected:hover{
    color: white;
    background-color: #F4511E;
    border-color: #F4511E ;
}

.paginateContainer .disabled{
    color: #BDBDBD;
    background-color: #F3F3F3;
}

@media screen and (max-width: 640px) {
    .pCard-div{
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .paginateContainer ul{
        width: 14rem;
    }

    .paginateContainer li{
        padding: 0.5rem;
    }
}