.landing-page{
    font-family: 'Inter';
    font-style: normal;
}

.hero-section{
    background-image: url('../Assets/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 3rem;
}

.hero-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10% 0;
}

.hero-content h1{
    color: #ffffff;
    width: 33rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 70px;
}

.select-div{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0px 0px 5px;
    background-color: #ffffff;
    margin-top: 1rem;

}

.select-div select{
    background-color: #E6E6E6;
    padding: 1.15rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #E6E6E6;
    
}

#alltypes{
    border-radius: 5px 0px 0px 5px;
}

.select-div button{
    padding: 1rem;
    background-color: #23A6F0;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #23A6F0;
    cursor: pointer;
}

.mapcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.section2{
    padding: 3rem;
}

.section2 h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
}

.section2 span{
    border-bottom: 3px solid #F4511E;
}

.costcard-subcont, .costcard-div, .costcard-div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.costcard-subcont{
    justify-content: space-evenly;
}

.costimg{
    height: 33rem;
}
.costcard-div{
    flex-direction: column;
}

.costcard-div div{
    margin: 1rem 0;
}

.section3{
    padding: 2rem 3rem;
    background: #F5F5F5;
}

.sect3-heading h3{
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
}

.sect3-heading span{
    border-bottom: 3px solid #F4511E;
}

.sect3-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sect3-heading button{
    padding: 1rem 1.25rem;
    color: #ffffff;
    background-color: #F4511E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
