.landing-page{
    font-family: 'Inter';
    font-style: normal;
}

.hero-section{
    background-image: url('../Assets/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 3rem;
}

.hero-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10% 0;
}

.hero-content h1{
    color: #ffffff;
    width: 33rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 70px;
}

.select-div{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 1rem;

}

.select-div select{
    background-color: #E6E6E6;
    padding: 1.15rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #E6E6E6;
    
}

#alltypes{
    border-radius: 5px 0px 0px 5px;
}

.select-div button{
    padding: 1rem;
    background-color: #23A6F0;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #23A6F0;
    cursor: pointer;
}

.mapcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.section2{
    padding: 3rem;
}

.section2 h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
}

.section2 span{
    border-bottom: 3px solid #F4511E;
}

.costcard-subcont, .costcard-div, .costcard-div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.costcard-subcont{
    justify-content: space-evenly;
}

.costimg img{
    height: 33rem;
}

.costcard-div{
    flex-direction: column;
}

.costcard-div div{
    margin: 1rem 0;
}

.section3{
    padding: 2rem 5rem;
    background: #F5F5F5;
}

.sect3-heading h3{
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
}

.sect3-heading span{
    border-bottom: 3px solid #F4511E;
}

.sect3-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sect3-heading button{
    padding: 1rem 1.25rem;
    color: #ffffff;
    background-color: #F4511E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sect3-heading button:hover{
    background-color: white;
    color: #F4511E;
    border: 2px solid #F4511E;
    font-weight: 600;
}

.section4{
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center ;
}

.flex-minidiv{
    display: flex;
}

.flex-minidiv p{
    font-weight: 600;
    color: white;
    font-size: 1.25rem;
    width: 12rem;
    text-align: center;
    margin: 0 auto;
}

.flex-subdiv1, .flex-subdiv2, .flex-subdiv3, .flex-subdiv4{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.flex-subdiv1:hover, .flex-subdiv2:hover, .flex-subdiv3:hover, .flex-subdiv4:hover{
    transform: scale(0.9);
}


.flex-subdiv1{
    background-image: url('../Assets/flexbackgrnd1.svg');
    width: 250px;
    height: 334px;

}
.flex-subdiv2{
    background-image: url('../Assets/flexbackgrnd2.svg');
    width: 270px;
    height: 270px;
    align-self: flex-end;
}

.flex-subdiv3{
    background-image: url('../Assets/flexbackgrnd3.svg');
    width: 212px;
    height: 285px;
}

.flex-subdiv4{
    background-image: url('../Assets/flexbackgrnd4.svg');
    width: 338px;
    height: 356px;
}

.flex-div2{
    padding: 2rem;
}

.flex-div2 h4{
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #18191F;
    width: 28rem;
}

.flex-div2 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 1rem 0;
    width: 28rem;
}

.flex-div2 button{
    padding: 1rem 1.5rem;
    background-color: #F4511E;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 1rem;
    cursor: pointer;
}

.flex-div2 button:hover{
    background-color: white;
    color: #F4511E;
    border: 2px solid #F4511E;
    font-weight: 600;
}

.section5{
    padding: 2rem 4rem;
}

.section5 h5{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
}


.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 5rem 0;
}

.carousel{
    width: 50vw;
    height: 30rem;
    background-color: rgba(244, 81, 30, 0.07);

}

.caro-div{
    padding: 5rem 4rem 9rem 4rem;
    /* background-color: rgba(244, 81, 30, 0.07); */
    position: relative;
}

.caro-div p{
    text-align: left;
    
}

#caro-pic{
    width: 3rem;
    position: absolute;
    top: 3.25rem;
    left: 2rem;
    opacity: 0.4;
}


.caro-content{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 1rem;
}

.caro-footer, .caro-footer div{
    display: flex;
    align-items: center;
}

.caro-footer div{
    flex-direction: column;
    align-items: flex-start;
}

.caro-name{
    color:#F4511E;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

#caro-avatar{
    width: 3.5rem;
    margin-right: 1rem;
    /* padding: 1rem; */
}

.youtube iframe{
    width: 48vw;
    height: 30rem;

}

/* Overriding carousel default styling */
.carousel .control-dots{
    left: 1rem;
    width: 6rem;
    bottom: 3rem;
}

.carousel .control-dots .selected{
    background-color:#F4511E;

}

.carousel .carousel-status{
    display: none;
}


@media screen and (max-width: 820px) {
    .hero-content{
        flex-direction: column;
        justify-content: space-around;
        padding: 3rem 0;
    }

    .hero-content h1{
        margin: 3rem 0;
        text-align: center;
    }

    .costcard-subcont{
        flex-wrap: wrap;
    }

    .costcard-div{
        flex-direction: row;
        align-items: flex-start;
    }

    .costcard-div div{
        flex-direction: column;
    }

    .section3{
        padding: 2rem;
    }

    .section4{
        flex-direction: column-reverse;
        
    }

    .caro-div{
        padding: 5rem 2rem 5rem 4rem;

    }

    .caro-content{
        font-size: 9px;
    }
}

@media screen and (max-width: 675px) {
    .hero-content h1{
        line-height: 50px;
        font-size: 2.5rem;
        width: 25rem;
    }
    .section2{
        padding: 3rem 1.5rem;
    }
    
    .sect3-heading h3{
        font-size: 28px;
        line-height: 38px;
        margin-right: 1rem;
    }

    .section4{
        padding: 2rem;
    }

    .flex-div2 h4, .flex-div2 p{
        width: auto;
    }

    .flex-subdiv1{
        width: 170px;
        height: 224px;
    }

    .flex-subdiv2{
        width: 150px;
        height: 164px;
    }

    .flex-subdiv3{
        width: 125px;
        height: 185px;
    }

    .flex-subdiv4{
        width: 220px;
        height: 250px;
    }

    .flex-minidiv p{
        font-size: 0.75rem;
        width: auto;
    }

    .section5{
        padding: 2rem;
    }

    .section6{
        flex-direction: column;
    }

    .carousel, .youtube iframe{
        width: 100vw;
        height: 27rem;
    }
}


@media screen and (max-width: 450px) {
    .hero-content{
        padding: 0.5rem 0;
    }

    .hero-content h1{
        line-height: 40px;
        font-size: 2rem;
        width: 20rem;
        margin: 2rem 0;
    }
    
    .section2 h2{
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 1rem;
    }

    .costimg img{
        height: 20rem;
        width: 20rem;
    }

    .flex-div2{
        padding: 0;
        margin-bottom: 1rem;
    }

    .flex-div2 h4{
        font-size: 28px;
    }

    .flex-div2 p{
        font-size: 14px;
    }
    
    .caro-name, .caro-footer p{
        font-size: 12px;
    }

}


@media screen and (max-width: 375px) {
    .hero-section{
        padding: 0 1rem;
    }

    .hero-section h1{
        width: auto;
    }

    .select-div select{
        padding: 1rem 0.5rem;
        font-size: 10px;
    }

    .select-div button{
        padding: 0.75rem;
    }

    .section4{
        padding: 1rem;
    }

    .flex-div2 button{
        font-size: 14px;
        padding: 0.75rem 1rem;
    }

    .flex-subdiv1{
        width: 100px;
        height: 144px;
    }

    .flex-subdiv2{
        width: 100px;
        height: 104px;
    }

    .flex-subdiv3{
        width: 105px;
        height: 120px;
    }

    .flex-subdiv4{
        width: 120px;
        height: 140px;
    }

    .flex-subdiv1, .flex-subdiv2, .flex-subdiv3, .flex-subdiv4{
        padding: 0.5rem;
    }

    .section2 h2, .sect3-heading h3, .flex-div2 h4{
        font-size: 20px;
        line-height: 25px;
    }

    .flex-div2 p{
        font-size: 12px;
    }

    .section5 h5{
        font-size: 18px;
        line-height: 24px;
    }

    .caro-content{
        line-height: 20px;
    }

    .carousel .control-dots{
    bottom: 0.5rem;
    }
}