.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #FFFFFF;
    font-family: 'DM Sans';
}

.nav-container ul{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  
}

.nav-container li{
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;
    padding: 1rem;
    margin: 0 0.25rem;
}

.nav-container li:hover{
    color: orangered;
    border-bottom: 1px solid #FFFFFF;
}

#logo:hover{
    border-bottom: none;
}

#home{
    border-bottom: 1px solid #FFFFFF;
}